.front-page {
    
    .opening-statement {
        padding: 20px 80px;
        
        p {
            color: #666;
            font-weight: 200;
            font-size: 20px;
        }
    }
    
    .whats-new-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.project-description {
    padding-top: 50px;
    padding-bottom: 50px;
}