.front-page {
    
    .opening-statement {
        padding: 20px 80px;
        
        h2 {
            color: #ff8d00;
            font-weight: 400;
            font-size: 34px;
            text-transform: uppercase;
        }
        
        p {
            color: #666;
            font-weight: 200;
            font-size: 20px;
        }
    }
    
    .whats-new-container {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.project-description {
    padding-top: 50px;
    padding-bottom: 50px;
}