#projects-map {
    height: 480px;
    width: 100%;
}

.our-work-description {
    color: #999;
    padding: 0px 60px;
    margin-bottom: 60px;
}

.project-class-container {
    
    li {
        
        .project-content-container {
            border: 2px solid #CCC;
            height: 270px;
            padding: 20px 10px;
            position: relative;
            
            &:hover .hover-placeholder {
                visibility: hidden;
                opacity: 0;
            }
            
            .hover-placeholder {
                background-size: auto 100% !important;
                position: absolute;
                top: -2px;
                right: -2px;
                bottom: -2px;
                left: -2px;
                visibility: visible;
                opacity: 1;
                @include transition(.25s);
                
            }
            
            h6 {
                text-align: center;
            }
            
            .project-location {
                color: #666;
                font-size: 14px;
                text-align: center;
            }
            
            .ajax-load-bar {
                background: #EEE;
                height: 4px;
                margin: 10px auto;
                width: 70%;
            }
            
            p {
                color: #666;
                font-size: 14px;
                text-align: center;
            }
            
            img.project-preview {
                background: #EFEFEF;
                border-radius: 999px;
                display: block;
                height: 40px;
                margin: 0px auto;
                width: 40px;
            }
        }
    }
}

.project-modal {
    border-radius: 0px;
    border: none !important;
    padding: 0px !important;
    position: fixed;
    top: 58px !important;
    right: 0px;
    left: 100%;
    bottom: 0px;
    max-width: 100%;
    width: 100%;
    @include transition(.40s);

    &.open {
        left: 0% !important;
    }
    
    .close-reveal-modal {
        background: $primary_color;
        color: white;
        right: 0px;
        top: 0px;
        padding: 16px 22px 22px 22px;
    }
    
    .project-modal-header {
        width: 100%;
        height: 450px;
        @include background-size(cover !important);
    }
    
    
}