.top-bar-container {
    box-shadow: 0px -2px 10px rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    z-index: 9999;
    
    .top-bar {
        height: 58px;
        max-width: 100%;
        @include transition(.5s);

        .title-area {
            
            img {
                height: 58px;
                padding: 22px;
            }
        }
        
        ul.top-bar-menu {
            position: absolute;
            right: 0px;
            text-transform: uppercase;

            img {
                height: 100%;
                float: left;
                margin-left: -70px;
                padding: 24px;
                @include transition(.35s);
            }

            > li {
                height: 100%;

                > a {
                    font-family:'Century Gothic W01' !important;
                    font-weight: normal;
                    line-height: 58px !important;
                    position: relative;
                    font-size: 14px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    text-decoration: none;
                    
                    &:before {		
                        content: "";		
                        position: absolute;		
                        width: 70%;		
                        height: 3px;		
                        bottom: 10px;		
                        left: 15%;		
                        background-color: #DDD;		
                        visibility: hidden;		
                        -webkit-transform: scaleX(0);		
                        transform: scaleX(0);		
                        -webkit-transition: all 0.3s ease-in-out 0s;		
                        transition: all 0.3s ease-in-out 0s;		
                      }		
  		
                      &:hover:before {		
                        visibility: visible;		
                        -webkit-transform: scaleX(1);		
                        transform: scaleX(1);		
                      }
                    
                }

                &.has-dropdown > a {
                    padding-right: 0.9365rem !important;
                
                    &:after {
                        border-top-style: none;
                    }
                }

                &.has-dropdown:hover {
                    background: white;

                    >a:after {
                        border-color: rgba(0,0,0,0.6) transparent transparent transparent
                    }
                }

                .sub-menu {
                    left: -20%;
                    right: -20%;
                    background: #FFFFFF;
                    z-index: -1;

                    a {
                        font-family:'Century Gothic W01' !important;
                        font-size: 12px;
                        line-height: 2rem !important;
                    }
                    
                    li {
                        text-align: center;
                    }
                }
                
                // Force Last Child Sub-Menu to be Justified on the Right of the Screen
                &:last-child {
                    
                    .sub-menu {
                        right :0px;
                        left: auto !important;
                    }
                }
            }
        }
    }

    // Switch between the mobile menu (tab-bar) and desktop menu (topbar) based on a custom $topbar-breakpoint value.
    // The $topbar-breakpoint can be edited in _custom-settings.scss. 

    @media only screen and (min-width: ($topbar-breakpoint + em-calc(1))) {
      .tab-bar { display: none; }
    }

    // Hide the topbar when the screen size is smaller than the topbar breakpoint
    @media only screen and (max-width: $topbar-breakpoint) {
      .top-bar { display: none; }
    }
}